*{
    padding: 0;
    margin: 0;
}


// variables for the total application
$topbarBackgroundColor: #343131;
$topbarTextColor: #F5F5F5;
$logoColor: #FBECB2;
$topbarIconColor: #F5F5F5;
$lastIconColor: #F8E559;
